<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Challenges</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Добро пожаловать в Code Challenges</h1>
            <p class="text-center">Решайте задачи, получайте сертификаты и улучшайте свои навыки программирования!</p>
        </header>
        <div class="row">
            {% for challenge in challenges %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                            <p class="card-text">{{ challenge.description|truncatewords:20 }}</p>
                            <a href="{% url 'challenge_detail' challenge.pk %}" class="btn btn-primary">Перейти к задаче</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
